.wp-block-myblocks-myblocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @for $i from 1 through 4 {
        &.columns-#{$i} {
            .wp-block-myblocks-myblock {
                width: calc(100% / #{$i});
            }
        }
    }
    .wp-block-myblocks-myblock {
        background: #dad5d5;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        height: auto;
    }

}